<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.gymthicol\.eu)(:80)? [NC]
RewriteRule ^(.*) https://gymthicol.eu/$1 [R=301,L]
DirectoryIndex https://gymthicol.eu/       
Redirect permanent http://gymthicol.eu/ https://gymthicol.eu/
Redirect permanent http://gymthicol.eu/index.php https://gymthicol.eu/
Redirect permanent https://gymthicol.eu/index.php https://gymthicol.eu/
order deny,allow
